@import url('https://fonts.googleapis.com/css?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


.navbar-light .navbar-nav .nav-link{
    color: #201f1f;
    font-size: 100%;
    font-family: 'Amatic SC', cursive;
    cursor: pointer;
}


.navbar-expand .navbar-nav .dropdown-menu .nav-item{
    color: #201f1f;
    font-size: 150%;
    font-family: 'Amatic SC', cursive;
    margin-left: 0.7em;
    cursor: pointer;
}

.navbar-expand .navbar-nav .dropdown-menu .dropdown-item{
    color: #201f1f;
    font-size: 150%;
    font-family: 'Amatic SC', cursive;
    cursor: pointer;
}