@import url('https://fonts.googleapis.com/css?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.navbar-brand{
    color: #201f1f;
    font-size: 400%;
    font-family: 'Amatic SC', cursive;

}

.nav-link{
    color: #1d1c1c;
    font-size: 130%;
    letter-spacing: 3px;
    /* font-family: 'Amatic SC', cursive; */
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

.dropdown-menu{
    color: #1d1c1c;
    font-size: 70%;
    letter-spacing: 3px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

a{
    color: #ece3e3;
    cursor: pointer;
    font-size: 200%;
    cursor: pointer;
}

.navbar-custom {
    color: rgb(39, 38, 38);
    background-color: rgb(255, 255, 255);
}